.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  height: 64px;
}

.logoContainer {
  position: absolute;
  margin-top: 4px;
  left: 50%;
}

.logoContainer > h1 {
  position: relative;
  left: -50%;
}

.button {
  margin-left: 16px;
}

.icon {
  height: 100%;
  width: 100%;
  color: black;
}

@media (min-width: 1200px) {
  .header {
    padding: 0;
  }
}
